body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #E0E0E0;
    color: #333;
}

header {
    background-color: #DFCEBC;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 10px 10px #DFCEBC;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

nav a img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

nav a span {
    display: none;
}

#content {
    padding: 60px 20px 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}

form input,
form textarea {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 2px 10px 10px #DFCEBC;
    resize: none;
    box-sizing: border-box;
}

form button {
    margin-top: 20px;
    padding: 15px;
    background: #C5A68A;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 10px 10px #DFCEBC;
    transition: background 0.3s ease;
}

form button:hover {
    background: #B08C76;
}

@media (min-width: 768px) {
    nav a span,
    .nav-item span {
        display: inline;
    }
}
